html, 

html{
    height: 100%;
    background-image: url('word.jpeg');
    margin: 0px;
    padding: 0px;
}

body{
    height: 90%;
    background-color: #D0F0C0;
    opacity: 0.90;
    border-radius: 30px;
    display: grid;
    grid-template-rows: 2fr 6fr 1fr;
    box-sizing: border-box;
    overflow: auto;
    position: fixed;
    top: 50%;left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border-radius: 30px;
    padding: 15px; 
}

*  {
    overflow: auto; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    font-family: Garamond, "Times New Roman", Times, serif;
    margin: 0px;
}

.title{
    text-align: center;
    font-size: 50px;
    color: #00401A;
    padding: 20px;

}

.top{
    width: auto; 
    height: auto;
}

.position{ 
    text-align: center; 
}

.add {
  color: #00401A;
  padding: 16px 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 280px;
  text-decoration: none; 
  font-size: 50px;
}

.formPop {
    position: fixed;
    display: none; 
    top: 50%;left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    border-radius: 30px;
    padding: 15px; 
}

.add-container {
  max-width: 300px;
  padding: 50px;
  border-radius: 30px;
  background-color: #00401A;
  color: #D0F0C0;
}

.add-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.subtext {
    text-align: center; 
    margin: 10px; 
}

.container{
    height: 200px;
    overflow-y: auto;
}

.btn{
    background-color: transparent;
    color:  #D0F0C0;
    margin-left: 30px;
    cursor: pointer;
    border-color:  #D0F0C0;
    border-radius: 10px; 
    font-size: 15px;
}

.statusbox{
    text-align: center;
}

.delete{
    background-color: #00401A;
    color: #D0F0C0;
    font-size: 15px;  
    border: none; 
    border-radius: 2px;
    cursor: pointer;
}

.card{
    border: 1px solid #00401A ;
    padding: 10px;
}